@charset "UTF-8";
html, body {
	margin : 0 auto;
	height : 100%;
	overflow: hidden;
}

.wrapper{
	display : grid;
	width: 100%;
	height : 100%;
	background-color: AntiqueWhite ;
	grid-template-columns : 35% 30% 35%;
	grid-template-rows : 10% 100% 10%;
}
/*.wrapper div{border : 1px dotted black}*/

#main_term{
	margin: 0 auto;
}

#login_tab{
	 width:80%;
	 height:400%; 
	 margin : 10% auto;
	 border : 1px solid black;}
#login_tab tr{width:100%;height : 50%;border : 1px solid black;}
#soccer_intro{padding-left : 200px; margin: 0 auto; width : 30%;height: 100%;}
#login_tab tr td{width: 100%;height: 50%;border : 1px solid black;}
#join_a {width: 100px; margin: 0 auto;}
.input_text{height : 50px;width: 80%;}
#login_btn{width: 200px;height: 100%;}

#join_spac{
	display : grid;
	width : 100%;
	height: 100%;
	grid-template-columns : 20% 80%;
	grid-template-rows : 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7%;
	
}

.input_join{height : 50px;width: 80%; margin: 0 auto;}

#join_term{
	margin: 0 auto;
	padding-right : 250px;
}

.container{
	display : grid;
	width : 100%;
	height: 100%;
	grid-template-rows : 10% 90%;
}

.content{
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-rows : 10% 60% 10% 10%; 
}
/*.container div{border : 2px dotted black}*/

#join_back{
	padding-top : 100px;
}
